# OSX
.DS_Store

# Python
__pycache__/
*.pyc
*.egg-info
data/neural
data/rf
data/recon

# Results
results

# PyCharm
.idea

# Mat files
*.mat

# Jupyter Notebook
.ipynb_checkpoints

# Ignore large model/data files that exceed GitHub's 100MB limit
data/tuning/gratings.pt
data/tuning/rec_ablate_False/gratings.pt
data/tuning/rec_ablate_True/gratings.pt